doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            div.logo
            nav
                ul
                    li
                        a(href="/menu") Menu
                    li 
                        a(href="#") About us
                    li 
                        a(href="/admin") Admin
    // each page can have thier own content below after extending this layout
    block main-content
    footer
        p &copy; Copyright Priyam Desai 

