

/* Style for main section of index */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.hero-text{
    color: var(--primary-text);
}

.hero-text h1{
    font-family: 'Playfair display', monospace;
    font-size: 6em;
}

.hero-text p{
    font-weight: 400;
    font-size: 2em;
}

.hero-image{
    height: 100%;
    position: relative;
}

.bg-block{
    background-color: var(--primary-color);
    
    height: 100%;
    width: 380px;
    position: relative;
}

.hero-image img{
    height: 460px;
    width: 460px;
    position: absolute;
    top: 22%;
    right: 40%;
}

.hero-text input{
    margin-top: 24px;
}

/* Style for main section of index */
#popular-items{
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
}

.section-heading{
    font-size: 1.8em;
    font-family: 'Playfair display', monospace;
    color: var(--secondary-text);
}



