@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* --------------------------------

    1. CSS Variables 
    2. Global style (default)
    3. Style for header
    4. Style for popular item page 
    4. Style footer 

 -------------------------------- */


/* 1. css variables */
:root{
    --primary-color: #266E7A;
    --secodary-color: #FFFFFF;
    --primary-text: #1E5862;
    --secondary-text: #F5F5F5;
    --primary-btn: #0D3B47;
}

/* 2, some global css style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 1em;
}

body{
    /* background-color: var(--primary-color); */
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.content-wrapper{
    max-width: 1380px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}


input[type=submit]{
    width: 200px;
    background-color: var(--primary-btn);
    border: none;
    padding: 8px 12px;
    color: var(--secodary-color);
    font-size: 1.25em;
    border-radius: 8px;
    border: 2px solid var(--primary-btn);
    font-weight: 500;

}

input[type=submit]:hover{
    cursor: pointer;
    border: 2px solid var(--primary-btn);
    color: var(--primary-btn);
    background-color: var(--secodary-color);
}


/* 3. style for header */
header{
    background-color: var(--primary-color);
    height: 68px;
    padding: 0 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Pacifico', monospace;
    font-size: 2em;
    color: var(--secondary-text);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 42px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 2px;
}

nav a{
    position: relative;
}

nav a:hover{
    border-bottom: 3px solid var(--secondary-text);
    transition: 2ms ease;
}

/* 4. style for second page */

#popular-items{
    height: 100vh;
    background: rgb(38,110,122);
    background: linear-gradient(180deg, rgba(38,110,122,1) 0%, rgba(184,211,217,1) 100%);
}


/* 5. style for footer */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(184,211,217,1);
    flex-direction: column;
}

footer p{
    color: var(--primary-btn)
}
  


/* 6. Style which is used by multiple pages */
.items-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.item-container{
    max-width: 320px;
}

.item-title{
    font-size: 1.5em;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.item-image{
    width: 300px;
    height: 380px;
    border-radius: 12px;
    object-fit: contain;
}


/* 7. style for index page  */
#index{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.hero-text{
    color: var(--primary-text);
}

.hero-text h1{
    font-family: 'Playfair display', monospace;
    font-size: 6em;
}

.hero-text p{
    font-weight: 400;
    font-size: 2em;
}

.hero-image{
    height: 100%;
    position: relative;
}

.bg-block{
    background-color: var(--primary-color);
    
    height: 100%;
    width: 380px;
    position: relative;
}

.hero-image img{
    height: 460px;
    width: 460px;
    position: absolute;
    top: 22%;
    right: 40%;
}

.hero-text input{
    margin-top: 24px;
}

/* Style for main section of index */
#popular-items{
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
}

.section-heading{
    font-size: 1.8em;
    font-family: 'Playfair display', monospace;
    color: var(--secondary-text);
}

/* 8. Style for menu page */

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #e9f1f2;
}

#menu h1, #menu h2{
    color: var(--primary-text);
    font-family: "Playfair display", monospace;
}

#menu h1{
    font-size: 2.2em;
}

#menu h2{
    font-size: 2em;
}


.menu-item-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
    padding: 0px 12px;
}

.menu-item-container h3{
    color: #452915;
}

.menu-item-container p{
    color: #593A28;
    font-weight: 500;
    letter-spacing: 1.2px;
}





/* 9. Dashboard style */
#dashboard{
    height: 80vh;
    
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #e9f1f2;
}

#dashboard h1{
    color: var(--primary-text);
}



.add-item-container input{
    width: fit-content;
}


/* 10. add-product page style */
#add-item{
    background-color: #e9f1f2;
    height: 80vh;
}

#add-item h1{
    color: var(--primary-text);
    padding: 60px 24px;
}

#add-item-form{
    padding: 0px 48px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    min-width: 400px;
    max-width: 620px;
}

#add-itme-form label{
    max-width: 200px;
}

#add-item-form select{
    height: fit-content;
    padding: 2px 2px;
}

.input-field-container{
    display: flex;
    gap: 12px;
}

.input-field-container label{
    width: 120px;
}